<app-property-filter
  (filtersChanged)="onFiltersChanged($event)"></app-property-filter>
<div class="sorting-container">
  <mat-form-field appearance="outline">
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="sortOrder" (selectionChange)="onSortChange($event.value)">
      <mat-option value="desc">Newest</mat-option>
      <mat-option value="asc">Oldest</mat-option>
    </mat-select>
  </mat-form-field>
</div>
@if (filteredProperties.length) {
  <mat-grid-list
    cols="3"
    rowHeight="1:2">
    <mat-grid-tile
      *ngFor="let filteredProperty of filteredProperties"
      colspan="1"
      rowspan="1">
      <app-property-card [property]="filteredProperty"></app-property-card>
    </mat-grid-tile>
  </mat-grid-list>
} @else {
  No properties match your filters.
}
