<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home Finder</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            @If ()"!isLoggedIn"
          <li class="nav-item" >
            <a class="nav-link" routerLink="/login">Σύνδεση</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()">Αποσύνδεση</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<app-property-filter
  (filtersChanged)="onFiltersChanged($event)"></app-property-filter>
@if (filteredProperties.length) {
  <mat-grid-list
    cols="3"
    rowHeight="1:2">
    <mat-grid-tile
      *ngFor="let filteredProperty of filteredProperties"
      colspan="1"
      rowspan="1">
      <app-property-card [property]="filteredProperty"></app-property-card>
    </mat-grid-tile>
  </mat-grid-list>
} @else {
  No properties match your filters.
}
<!--<app-search-bar></app-search-bar> -->
