<mat-card
  class="property-card"
  appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ property.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (property.image && property.image.length > 0) {
      <img
        src="{{ property.image }}"
        width="100%"
        height="300" />
    } @else {
      <img
        src="/no-image-placeholder.png"
        width="100%"
        height="300" />
    }
    <p>
      <strong>
        {{ getPropertyTypeLabel() }}, {{ property.squareMeters }} m²
      </strong>
    </p>
    <p>
      <strong>
        {{ property.price }}€ | {{ getPricePerSquareMeter() }} €/m²
      </strong>
    </p>
    <p>
      {{ property.description }}
    </p>
    <p>
      <strong>Area:</strong>
      {{ property.area.name }}
    </p>
    <p>
      <strong>Year of Construction:</strong>
      {{ property.yearOfConstruction }}
    </p>
    <div class="property-info-row">
      <span>
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false"
          aria-label="Floor"
          fontIcon="stairs"></mat-icon>
        {{ property.floor }}
      </span>
      <span>
        <mat-icon
          aria-hidden="false"
          aria-label="Bedrooms"
          fontIcon="bed"></mat-icon>
        {{ property.bedrooms }}
      </span>
      <span>
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false"
          aria-label="Bathrooms"
          fontIcon="shower"></mat-icon>
        {{ property.bathrooms }}
      </span>
    </div>

    <p>
      <strong>Energy Class:</strong>
      {{ getEnergyClassLabel() }}
    </p>
    <p>
      <strong>Condition:</strong>
      {{ getPropertyConditionLabel() }}
    </p>
  </mat-card-content>
  @if (userOwned){
    <mat-card-actions>
      <button
        mat-button
        color="warn"
        routerLink="">
        DELETE
      </button>
      <button
        mat-button
        color="primary"
        routerLink="">
        EDIT
      </button>
    </mat-card-actions>
  }
</mat-card>
