<mat-card
  class="property-card"
  appearance="outlined">
  <mat-card-header>
    <mat-card-title class="mb-1">{{ property.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (property.image && property.image.length > 0) {
      <img
        src="{{ property.image }}"
        width="100%"
        height="300" />
    } @else {
      <img
        src="/no-image-placeholder.png"
        width="100%"
        height="300" />
    }
    <p class="mt-3">
      <strong>
        {{ getPropertyTypeLabel() }}, {{ property.squareMeters }} m², {{getPropertyUseLabel()}}
      </strong>
    </p>
    <p>
      <strong>
        {{ property.price }}€ | {{ getPricePerSquareMeter() }} €/m²
      </strong>
    </p>
    <p>
      {{ property.description }}
    </p>
    <p>
      <strong>Area:</strong>
      {{ property.area.name }}
    </p>
    <p>
      <strong>Year of Construction:</strong>
      {{ property.yearOfConstruction }}
    </p>
    <div class="d-flex gap-5 mb-3">
      <span class="d-inline-flex gap-2">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false"
          aria-label="Floor"
          fontIcon="stairs"></mat-icon>
        {{ property.floor }}
      </span>
      <span class="d-inline-flex  gap-2">
        <mat-icon
          aria-hidden="false"
          aria-label="Bedrooms"
          fontIcon="bed"></mat-icon>
        {{ property.bedrooms }}
      </span>
      <span class="d-inline-flex gap-2">
        <mat-icon
          class="material-icons-outlined"
          aria-hidden="false"
          aria-label="Bathrooms"
          fontIcon="shower"></mat-icon>
        {{ property.bathrooms }}
      </span>
    </div>

    <p>
      <strong>Energy Class:</strong>
      {{ getEnergyClassLabel() }}
    </p>
    <p>
      <strong>Condition:</strong>
      {{ getPropertyConditionLabel() }}
    </p>
    <span class="d-inline-flex gap-2">
      <mat-icon
      class="material-icons-outlined"
          aria-hidden="false"
          aria-label="Contact phone"
          fontIcon="contact_phone">
          </mat-icon>{{property.user.phoneNumber}}
    </span>
  </mat-card-content>
  @if (userOwned) {
    <mat-card-actions class="action-bar">
      <button
        type="button"
        (click)="openDialog('0ms', '0ms')"
        class="delete-button"
        mat-stroked-button>
        DELETE
      </button>
      <button
        class="edit-button"
        mat-stroked-button
        routerLink="/my-properties/{{ property.id }}">
        EDIT
      </button>
    </mat-card-actions>
  }
</mat-card>
